/*** Custom - Styles ***/

.success,
.error {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.success {
    background: green;
}

.error {
    background: red;
}